/* MOBILE STYLES */


@media screen 
and (max-width : 812px)

{

html {
	height:100vh;
	background-color: #000;
	color: #0F0;
	overflow-y:auto;
	overflow-x:hidden;
	font-family: 'Anonymous Pro', monospace;
}

body {
	margin:8px;
	height:100vh;
}

.header {
	height: 1.5em;
	width: 94vw;
	margin: 1em auto .5em auto;
	padding:.5em 0 0.5em;
	border: 2px solid #0F0;

}

.header .code {
	padding-left:.5em;
}

.header a {
	float: right;
	text-decoration:none;
	font-size: 1.1em;
	color: #0F0;
	padding:.1em .3em 0 .3em;
}

.header a:hover {
	text-decoration:none;
	color: #FF0;
}

.welcome {
	height:auto;
	width:94vw;
	margin:auto;
	border: 2px solid #0F0;
	overflow:;
}

.welcome p {
	height:auto;
	width:90%;
	margin:auto;
	padding:1em 0 0 0;
	overflow:;
}

.info {
	height:3em;
	width: 94vw;
	margin:auto;
	padding:.5em;
	font-size: .8em;
	text-align:center;
}

.infoBox {

	border: 2px solid #0F0;
	margin: 0 .5em 0 .5em;
	padding: 0 .5em 0 .5em;

}


.stream {
	height: 55vh;
	width: 99vw;
}

.chat {
	position:fixed;
	bottom:.2em;
	height:25vh;
	width: 99vw;
	margin-bottom:1em;
}

.about {
	width:70vw;
	margin:auto;
	text-align:justify;
	padding-top:7vh;
}

#tableStreams table {
	width:94vw;
	margin:auto;
	border-collapse: collapse;
	margin-top: 2em;


}

#tableStreams th, td{
	height: 1.5em;
	border: 2px solid #0F0;
	text-align: left;
	padding:0 5px 0 5px;
	color:#FF0;
	
}

#tableStreams a {
	text-decoration:none;
	color:#FF0;

}

#tableStreams a:hover{
	text-decoration:none;
	color:#F00;

}

#formContainer {
	width:90%;
	margin:auto;
}

#party-form {
	width:90%;
	margin:auto;
}

input {
	height:2em;
	width:100%;
	font-family:consolas;
	border: 2px solid #0F0;
	background-color:#000;
	color:#0f0;
	margin:0 auto 1em auto;
	box-sizing: border-box;
	padding: 0 0 0 5px;
	
}

input[type="submit"] {
	box-sizing: border-box;
}


select {
	font-family:consolas;
	border: 2px solid #0F0;
	background-color:#000;
	color:#0f0;
	margin:0 0 1em 0;
	}
}


/* DESKTOP STYLES */

@media screen 
and (min-width : 813px) 
and (max-width : 4000px)

{

html {
	background-color: #000;
	color: #0F0;
	overflow:hidden;
	font-family: 'Anonymous Pro', monospace;
}

body {
	margin:8px;
	height:98vh;
}

.header {
	height: 1.3em;
	width: 94vw;
	margin: 2em auto .5em auto;
	border: 2px solid #0F0;

}

.header a {
	float: right;
	text-decoration:none;
	font-size: 1em;
	color: #0F0;
	padding:.2em .5em 0 .5em;
}

.header a:hover {
	text-decoration:none;
	color: #FF0;
}

.welcome {
	height:auto;
	width:94vw;
	margin:auto;
	border: 2px solid #0F0;
	overflow:;
}

.welcome p {
	height:auto;
	width:100%;
	margin:10px;
	overflow:;
}

.info {
	width: 94vw;
	margin:auto;
	padding:1em;
	text-align:center;
}

.infoBox {

	border: 2px solid #0F0;
	margin: 0 .5em 0 .5em;
	padding: 0 .5em 0 .5em;

}

.stream {
	height: 55vh;
	width: 99vw;
}

.chat {
	position:fixed;
	left: 0px;
	bottom:.2em;
	height:33vh;
	width: 99vw;
	margin-bottom:1em;
}

.about {
	width:70vw;
	margin:auto;
	text-align:justify;
	padding-top:7vh;
}

#tableStreams table {
	width:60vw;
	margin:auto;
	border-collapse: collapse;
	margin-top: 2em;
}

#tableStreams th, td {
	height: 1.5em;
	border: 2px solid #0F0;
	text-align: left;
	padding:0 5px 0 5px;
	color:#FF0;
}

#tableStreams a {
	text-decoration:none;
	color:#FF0;
}

#tableStreams a:hover{
	text-decoration:none;
	color:#F00;
}

form {
	margin:10px;
}

input {
	width:50%;
	font-family:consolas;
	border: 2px solid #0F0;
	background-color:#000;
	color:#0f0;
	padding-left: 5px;
	padding-right:5px;
	margin:.5em;
}

input[type="submit"] {
	box-sizing: content-box;
}

input[type="submit"]:hover {
	color:#FF0;
	border-color:#FF0;
}


select {
	font-family:consolas;
	border: 2px solid #0F0;
	background-color:#000;
	color:#0f0;
	padding-left: 5px;
	padding-right:5px;
	margin:.5em;
}
}