html {
	background-color: #000;
	color: #0F0;
	overflow:hidden;
	font-family: consolas;
}

.header {
	text-align: center;
	height: 1.5vh;
	width: 98%;
	padding: 5px;
	margin:10 10 10 10;
	border: 2px solid #0F0;

}

.header a {
	text-decoration:none;
	font-size: 1em;
	color: #0F0;
}

.welcome {
	margin:1vw;
}

.stream {
	height: 55vh;
	width: 99vw;
}

.chat {
	height:33vh;
	width: 99vw;
}

.about {
	width:70vw;
	margin:auto;
	text-align:justify;
	padding-top:7vh;
}


input[type=text] {
	border: 2px solid #0F0;
	background-color:#000;
	color:#0f0;
	padding-left: 5px;
}

input[type=submit] {
	border: 2px solid #0F0;
	background-color:#000;
	color:#0f0;
}

input {
	font-family:consolas;
}

